.header {
  padding: 80px 0;

  p {
    margin: 32px 0 0;
  }
}

.header-logo {
  display: inline-block;
  margin: 0;
  padding: 0 8px;
  font-size: 2rem;
  line-height: 1;
  background: $color-black;
  color: $color-white;
}
