.section {
  padding: 112px 0;

  @media screen and (max-width: 768px) {
    padding: 72px 0;
  }

  &:nth-child(2n) {
    background: $color-bg;
  }

  .inner {
    > *:first-child {
      margin: 0;
    }
  }

  * + h1,
  * + h2,
  * + h3,
  * + h4,
  * + h5,
  * + h6 {
    @include marginTop;
  }
}
